@import "utils/Variables";

body {
  margin: 0;
  padding: 0;
  background-color: $body-color;
  color: $default-text-color;
  height: 100vh;
  * {
    font-family: 'Helvetica Neue', Helvetica, Arial, monospace;
  }
}