$nav-background-color: #0E1117;
$body-color: #161b22;
$default-text-color: #fff;
$default-border-color: #fff;
$primary-button-background: #ffbd59;
$secondary-button-background: rgb(17, 110, 185);
$background-none: transparent;